@import 'tailwindcss';

body {
  background-color: #fff;
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .hover-float {
    animation: float-tag 3s ease-in-out infinite;
  }
}
